body {
  background-color: rgb(255, 208, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.words {
  border-radius: 20px;
  width: 50%;
  background-color: white;
  padding: 10px 40px;
  text-align: center;
}
.words p {
  font-style: italic;
}